<div class="row">
	<div class="col-md-10 col-xs-8">
		<h2>Hantera bilar</h2>
	</div>
	<div class="col-md-2 col-xs-4 text-right">
		<a ng-click="$ctrl.logout()" class="btn btn-danger" role="button">Logga ut</a>
	</div>
</div>

<div class="row">
	<add-car car="$ctrl.selectedCar" reset="$ctrl.reset()" update-cars="$ctrl.updateCars()"></add-car>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<h3>Redigera/ta bort bilar</h3>
		<table class="table table-striped">
		    <tbody>
		      <tr ng-repeat="car in $ctrl.cars">
		      	<td>{{car.brand}} {{car.model}}</td>
		        <td><a ng-click="$ctrl.editCar(car)" class="clickable"><i class="fa fa-edit" title="Redigera"></i></a></td>
		        <td><a ng-click="$ctrl.removeCar(car)" class="clickable"><i class="fa fa-trash" title="Ta bort"></i></a></td>
		      </tr>
		    </tbody>
		  </table>
	</div>
</div>