<div class="col-md-6">
	<h2>Biluthyrning</h2>
	HP BIL erbjuder biluthyrning i samarbete med <a href="http://www.sixt.se" target="_blank">Sixt</a>. Vi finns i Sveg samt vid Svegs flygplats (Härjedalens airport). Det finns dessutom möjlighet att ordna hyrbilar på de flesta större orter i Härjedalen, i mån av resurser.<br><br>
	<b><a href="mailto:sveg@sixt.se">sveg@sixt.se</a></b><br><br>
	<b>Sveg/Hede/Vemdalen:</b> 0680 - 10968<br> 
	<b>Fun&auml;sdalen:</b> 0684 - 21245
</div>

<div class="col-md-6">
	<a href="http://www.sixt.se" target="_blank"><img src="assets/img/sixt.png" width="100%"></a>
</div>