<div class="col-md-4">
  <h2>Om HP BIL</h2>
  <p>HP BIL drivs av Hans Persson, som sedan 1988 varit verksam som bilhandlare. Idag finns vi i Hede och Sveg, Härjedalen. 
    <a href="http://www.bilbolaget.nu/" target="_blank">Bilbolaget</a> samarbetar med HP BIL.</p>
</div>
<div class="col-md-4">
  <h2>Vår affärsidé</h2>
  <p>Att genom ömsesidigt bra bilaffärer ha nöjda och trogna kunder, samt att skapa, utveckla och bibehålla en god relation med bilköparna.</p>
</div>
<div class="col-md-4">
  <h2>Lånelöfte</h2>
  <p>Vi samarbetar med <a href="https://www.ecster.se/" target="_blank">Ecster</a> för att ge dig möjligheten att snabbt och enkelt ansöka om ett lånelöfte.
  </p>
  <p>
  	<a href="https://secure.ecster.se/lanelofte/" target="_blank"><img src="assets/img/ecster.png" width="200" align="right" class="img-rounded"></img></a>
  </p>
</div>

<div class="col-md-12 img-container">
  <img src="assets/img/bg_hp.jpg" class="img-rounded" width="100%"></img>
</div>