@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Sticky footer styles
-------------------------------------------------- */
html {
  /* position: relative; */
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  /*
  margin-bottom: 100px;
  */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  height: 100%;

  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.container-wrapper {
	min-height: 80%;
}

.content-wrapper {
	height: 100%;
}

.img-container {
	margin-top: 50px;
}

.footer {
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 16px;
	text-align: center;
	position: relative;
	clear:both;
	padding-top:20px;

	margin-top: 20px;
	height: 20%;
}

.bold {
	font-weight: bold;
}

.carDetail {
	margin-bottom: 20px;
}

.car {
	cursor: pointer;
}


i.fa.fa-edit {
	color: darkorange;
}

i.fa.fa-trash {
	color: crimson;
}

i.fa.fa-times {
	color: crimson;
}

.clickable {
	cursor: pointer;
}

.img-list {
	list-style-type: none;
}

@media (orientation: portrait) {
	.img-container {
		display: none;
	}
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }