<div class="col-xs-12">
	<h3>Lägg till bil</h3>
</div>

<div class="col-md-6 col-xs-12">
	<form class="form-horizontal" id="addcar">

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="brand">Fabrikat</label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" ng-model="$ctrl.car.brand" id="brand" placeholder="Fabrikat">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="model">Modell</label>
	    <div class="col-sm-9"> 
	      <input type="text" class="form-control" ng-model="$ctrl.car.model" id="model" placeholder="Modell">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="year">Årsmodell</label>
	    <div class="col-sm-9"> 
	      <input type="text" class="form-control" ng-model="$ctrl.car.year" id="year" placeholder="Årsmodell">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="milage">Mätarställning</label>
	    <div class="col-sm-9"> 
	      <input type="text" class="form-control" ng-model="$ctrl.car.milage" id="milage" placeholder="Mätarställning">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="color">Färg</label>
	    <div class="col-sm-9"> 
	      <input type="text" class="form-control" ng-model="$ctrl.car.color" id="color" placeholder="Färg">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="price">Pris</label>
	    <div class="col-sm-9"> 
	      <input type="text" class="form-control" ng-model="$ctrl.car.price" id="price" placeholder="Pris">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="control-label col-sm-3" for="misc">Övrigt</label>
	    <div class="col-sm-9">
	    	<textarea class="form-control" rows="5" ng-model="$ctrl.car.misc" id="misc" placeholder="Övrigt"></textarea> 
	    </div>
	  </div>

	  <div class="form-group"> 
	    <div class="col-sm-offset-3 col-sm-9">
	      <button type="submit" ng-click="$ctrl.addCar()" class="btn btn-success">{{$ctrl.buttonText}}</button>
	      <button type="reset" ng-click="$ctrl.reset()" class="btn btn-danger">Rensa</button>
	    </div>
	  </div>
	</form>
</div>

<div class="col-md-6 col-xs-12">
	<div class="alert alert-info" role="alert">Ladda upp bilder genom dra och släppa dem i rutan nedan. Alternativt klicka på rutan välj de bilder du vill ladda upp.</div>
	<form action="/file-upload"
	      class="dropzone"
	      id="my-awesome-dropzone">
	</form>
</div>

